header {
    background: rgb(244, 248, 248);
    color: #FFA600;
    padding: 1rem;
    
}

.intestazione-text {
    color: rgb(180, 184, 184);
    font-size: smaller;
    font-style: normal;
}

.titolo-text {
    color: rgb(192, 144, 202);
    font-size: xx-large;
}


.column {
    flex: 1;
    padding: 1rem;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.w-20 { width: 20%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }

.scrolled {
    max-height: 25rem;
    overflow: auto;
}

.bg-blue-1 { background: rgb(244, 248, 248); }
.bg-blue-2 { background: rgba(244, 248, 248); }
.bg-blue-3 { background: rgb(244, 248, 248); }


/* Allineamento testo + immagine */

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
}

.text {
  flex: 1;
}


/* TESTI */
.intestazione-text {
  color: rgb(150, 153, 153);
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.titolo-text {
  color: rgb(175, 110, 185);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


/* IMMAGINI */
.image {
  width: 100%;
  height: auto;
  /*height: 100%;*/
  object-fit: cover;
  border-radius: 0px;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


/* --- sezione bottoni social --- */
.flex-social-banner {
  display: flex;
  flex-direction: column;   /* impila gli elementi in colonna */
  align-items: stretch;     /* entrambi si estendono in larghezza */
  /*justify-content: space-between;*/
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  min-height: 150px;           /* altezza totale del blocco */
  overflow: hidden;
  background: #f9f9f9;
}

flex-social-banner .column.social-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 0.5rem 0;
  flex: 0 0 auto;            /* altezza dinamica in base al contenuto */
}


.column.social-button button {
  margin: 0.4rem 0;
  border: none;
  background: #ffffff;
  color: #444;
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  width:auto;
  height:30%;
}

.flex-social-banner .column.social-button button:hover {
  background: #ffa600;
  color: #fff;
  transform: translateY(-2px);
}

.flex-social-banner .column.bg-blue-1 {
  flex: 1;                  /* altra metà del blocco */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(244, 248, 248);
  border-radius: 0;
}

/* --- sezione bottoni social --- */

footer {
    background: orange;
    color: white;
    padding: 1rem;
}

#footer-container {
  display: flex;
  justify-content: space-between; /* Spinge un div a sx e l’altro a dx */
  align-items: center; /* Allinea verticalmente */
  padding: 10px 20px; /* Spazio interno */
  background-color: orange; /* opzionale */
}