* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* CSS LAYOUT UTILITIES */
.boxed {
    max-width: 800px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.padded-container-small {
    padding: 0.5rem 0;
}

.padded-container-big {
    padding: 2rem 0;
}