/* CSS GENERAL UTILIES */
:root {
    --column-gap: 1rem;
    --products-columns: 3;
    --navbar-height: 3.5rem;
}

/* LAYOUT BLOCKS */
header {
    background: orange;
    color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--navbar-height);
    /* logo (2.5rem) + padding.y (1rem) */
}

#header-logo {
    /* width: 12rem; */
    height: 2.5rem;
}

.header-column {
    width: 30%;
}

.header-column-user {
    text-align: right;
}

main {
    padding-top: var(--navbar-height);
    background-color: #333;
}

#products-container {
    gap: var(--column-gap);
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    /* overflow evita che il contenuto, se più grande del contenitore, fuoriesca
    in questo caso usato per evitare che l'immagine rettangolare fuoriesca dai bordi stondati */
    overflow: hidden;

    /* es. 1
    area utilizzabile = 100% - spazio di gap
    divido area utilizzabile per le 3 colonne
    ricavo la larghezza di singola colonna
    
    width: calc((100% - 2rem) / 3);
    */

    /* es. 2
    gap su una colonna = 2rem (totali) / 3 (colonne)
    larghezza colonna = 33.333% - gap di una colonna
    
    width: calc(33.3333% - 2rem / 3);
    */

    /* es. 3: gap dinamico su variabile

    width: calc(33.33333% - var(--column-gap) * 2 / 3);
    */

    /* es. 4: gap fisso (2rem divisi tra le varie colonne) ma numero di colonne dinamico (in variabile)

    width: calc( 100% / var(--products-columns) );
    */

    /* es. 5: gap e numero di colonne dinamico su variabili.
    cambiando solo le due variabili in alto, tutto il layout si adatta
    
    */
    width: calc(100% / var(--products-columns) - var(--column-gap) * (var(--products-columns) - 1) / var(--products-columns));
    min-height: 200px;
}

.card-image-wrapper {
    position: relative;
}

.card-image {
    width: 100%;
}

.card-label {
    position: absolute;
    color: white;
    background: darkgray;
    padding: 0.3rem;
    top: 0;
    left: 0;
}

.card-label-green {
    background: green;
    top: 30px;
    left: unset;
    right: 0;
}
.card-label-red {
    background: crimson;
    top: unset;
    bottom: 30px;
    left: 0;
}

.card-text {
    padding: 0.5rem;
    height: 3.3rem;
    overflow: auto;
}

footer {
    padding: 0.5rem 0;
    background: gray;
    color: white;
}